<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
        <%- include('./partials/header.html') %>
        <link rel="stylesheet" href="/src/style/welcome.css">
    </head>
    <title>Dive into code registration</title>
</head>
<body>
    <div class="center">
         <div class="card">
             <div class="card-title">
                 <h1>Bienvenu à vous !!</h1>
             </div>
             <div class="card-body">
                 <div class="text">
                     <p>Acceder à notre formulaire d'inscription ici</p>
                 </div>
                <a href="/inscription">Inscription</a>
                <div class="text m-3">
                    <p>Acceder à la Liste Des Candidats ici</p>
                </div>
               <a href="/dashboard/1">Liste Des Candidats</a>
             </div>
         </div>
    </div>
</body>
</html>
